/*--------------------------------------------------------------
#0.6	app-landing-latest-features
--------------------------------------------------------------*/
.app-landing-latest-features {
	background-color: $section-bg-color;
	padding: 40px 0;

	@include media-query(500px) {
		padding-bottom: 15px;
	}

	.grids {
		overflow: hidden;
	}

	.grids .grid {
		width: 25%;
		float: left;
		text-align: center;

		@include media-query(500px) {
			width: 50%;
			height: 50px;
			line-height: 50px;
			margin-bottom: 25px;
		}
	}

	.grid img {
		display: inline-block;
		max-width: 100%;

		@include media-query(991px) {
			max-width: 80%;
		}
	}
}


/*--------------------------------------------------------------
#0.7	app-landing-features
--------------------------------------------------------------*/
.app-landing-features {
	@include media-query(991px) {
		padding-bottom: 75px;
	}

	@include media-query(767px) {
		padding-bottom: 60px;
	}

	.content {
		position: relative;
	}

	.content:before {
		content: "";
		@include background-style("../images/app-landing/features-millde-pic.png", center center, 100%, no-repeat, local);
		width: 350px;
		height: 369px;
		position: absolute;
		left: 50%;
		top: 50%;
		@include center-by-translating();

		@include media-query(1199px) {
			width: 300px;
			height: 316px;
		}

		@include media-query(991px) {
			display: none;
		}
	}

	.feature {
		margin-bottom: 40px;
		padding: 0 0 25px 100px;
		border-bottom: 1px solid #e0e0e0;
		position: relative;

		@include media-query(1199px) {
			padding: 0 0 25px 85px;
		}

		@include media-query(991px) {
			margin-bottom: 30px;
		}

		@include media-query(767px) {
			padding: 0 0 20px 65px;
			margin-bottom: 20px;
		}

		.icon {
			width: 60px;
			position: absolute;
			left: 0;
			top: 0;

			@include media-query(1199px) {
				width: 50px;
			}

			@include media-query(767px) {
				width: 40px;
			}
		}
	}

	.left-col .feature:last-child,
	.right-col .feature:last-child {
		@include widther(992px) {
			margin-bottom: 0;
			border: 0;
			padding-bottom: 0;
		}
	}

	.right-col .feature:last-child {
		@include media-query(991px) {
			margin-bottom: 0;
			border-bottom: 0;
		}
	}

	.feature .details h3 {
		font-size: 18px;
		font-size: calc-rem-value(18);
		margin: 0 0 0.7em;

		@include media-query(991px) {
			font-size: 16px;
			font-size: calc-rem-value(16);
		}
	}

	.feature .details p {
		margin: 0;

		@include media-query(1199px) {
			font-size: 14px;
			font-size: calc-rem-value(14);
		}
	}
}


/*--------------------------------------------------------------
#0.8	app-landing-cta
--------------------------------------------------------------*/
.app-landing-cta {
	text-align: center;
	padding: 125px 0;

	@include media-query(1199px) {
		padding: 100px 0;
	}

	@include media-query(991px) {
		padding: 70px 0;
	}

	@include media-query(767px) {
		background-image: none !important;
		background: $theme-primary-color !important;
		padding: 50px 0;
	}

	h2 {
		font-size: 54px;
		font-size: calc-rem-value(54);
		color: $white;
		line-height: 1.3em;
		margin: 0.92em 0 0;

		@include media-query(1199px) {
			font-size: 45px;
			font-size: calc-rem-value(45);
		}

		@include media-query(991px) {
			font-size: 30px;
			font-size: calc-rem-value(30);
		}

		@include media-query(767px) {
			font-size: 25px;
			font-size: calc-rem-value(25);
		}

		span {
			font-weight: 200;
		}
	}

	.video-play {
		background-color: $white;
		width: 60px;
		height: 60px;
		line-height: 60px;
		font-size: 25px;
		font-size: calc-rem-value(25);
		color: $theme-secondary-color;
		display: inline-block;
		@include rounded-border();

		@include media-query(991px) {
			width: 45px;
			height: 45px;
			line-height: 45px;
			font-size: 20px;
			font-size: calc-rem-value(20);
		}

	}
}


/*--------------------------------------------------------------
#0.9	app-landing-funfact
--------------------------------------------------------------*/
.app-landing-funfact {
	text-align: center;

	@include media-query(767px) {
		padding: 60px 0 35px;
	}

	h3,
	p {
		font-size: 48px;
		font-size: calc-rem-value(48);
		font-weight: 200;
		color: $heading-color2;
		margin: 0;
	}

	h3 {
		@include media-query(991px) {
			font-size: 38px;
			font-size: calc-rem-value(38);
		}

		@include media-query(767px) {
			font-size: 28px;
			font-size: calc-rem-value(28);
		}
	}

	p {
		font-family: $heading-font;
		font-size: 24px;
		font-size: calc-rem-value(24);

		@include media-query(991px) {
			font-size: 18px;
			font-size: calc-rem-value(18);
		}

		@include media-query(767px) {
			font-size: 14px;
			font-size: calc-rem-value(14);
		}
	}

	.content {
		margin-bottom: 100px;

		@include media-query(991px) {
			margin-bottom: 60px;
		}

		@include media-query(767px) {
			margin-bottom: 0;

			> .col {
				margin-bottom: 25px;
			}
		}
	}

	.mobile-holder {
		@include background-style("../images/app-landing/fun-fact-mob-shadow.png", center bottom, 100%, no-repeat, local);

		img {
			display: block;
			position: relative;
			top: -50px;

		}

		@include media-query(767px) {
			display: none;
		}
	}

	.mobile-holder-img-animation {
		top: 0 !important;
			@include transition-time(3s);
	}
}


/*--------------------------------------------------------------
#1.0	app-documentation-section
--------------------------------------------------------------*/
.app-documentation-section {
	background-color: $section-bg-color;

	> .container > .row {
		position: relative;
	}

	.img-part {
		@include background-style("../images/app-landing/documentation-pic.png", center center, 100%, no-repeat, local);
		width: 650px;
		height: 536px;
		position: absolute;
		left: 0;
		bottom: 0;

		@include media-query(1199px) {
			width: 550px;
			height: 453px;
		}

		@include media-query(991px) {
			display: none;
		}
	}

	/*** content part ***/
	.content-part {
		padding: 100px 15px 90px;

		@include media-query(991px) {
			padding: 80px 15px 70px;
		}

		@include media-query(767px) {
			padding: 70px 15px 60px;
		}
	}

	.content-part .section-title {
		text-align: left;
	}

	.content-part .section-title h2:after {
		left: 0;
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		-ms-transform: none;
		transform: none;
	}

	.content-part .box {
		margin-bottom: 40px;
	}

	.content-part > .box:last-child {
		margin-bottom: 0;
	}

	.box .icon {
		width: 65px;
		margin-bottom: 20px;

		@include media-query(1199px) {
			width: 50px;
		}

		@include media-query(767px) {
			width: 40px;
		}
	}

	.box h3 {
		font-size: 18px;
		font-size: calc-rem-value(18);
		margin: 0 0 0.7em;

		@include media-query(991px) {
			font-size: 16px;
			font-size: calc-rem-value(16);
		}
	}

	.box p {
		margin: 0;
	}
}


/*--------------------------------------------------------------
#1.1	how-app-works
--------------------------------------------------------------*/
.how-app-works {
	position: relative;
	overflow: hidden;

	.section-title p {
		@include widther(1200px) {
			padding: 0 20px;
		}
	}

	.app-mobile {
		@include background-style("../images/app-landing/how-app-works-mobile.png", center center, 100%, no-repeat, local);
		width: 275px;
		height: 646px;
		position: absolute;
		left: 50%;
		bottom: -100px;
		@include translatingX();
		z-index: 10;
		@include transition-time(5s);

		@include media-query(1199px) {
			width: 225px;
			height: 529px;
		}

		@include media-query(991px) {
			display: none;
		}
	}

	.how-appworks-phone-animation {
		bottom: -20px;
	}

	.content {
		padding-top: 150px;
		position: relative;

		@include media-query(1199px) {
			padding-top: 125px;
		}

		@include media-query(991px) {
			padding-top: 0;
		}
	}

	.middle-col {
		background-color: transparentize($theme-primary-color, 0.9);
		width: 440px;
		height: 440px;
		@include rounded-border();
		position: absolute;
		left: 50%;
		top: 17%;
		@include translatingX();

		@include media-query(1199px) {
			width: 350px;
			height: 350px;
		}

		@include media-query(991px) {
			display: none;
		}
	}

	.middle-col .round-inner {
		background-color: transparentize($theme-secondary-color, 0.9);
		width: 80%;
		height: 80%;
		@include rounded-border();
		position: absolute;
		left: 50%;
		top: 50%;
		@include center-by-translating();
	}

	.middle-col .dot {
		background-color: transparentize($theme-secondary-color, 0.3);
		width: 11px;
		height: 11px;
		@include rounded-border();
		position: absolute;

		&:before {
			content: "";
			background-color: transparentize($theme-primary-color, 0.8);
			width: 23px;
			height: 23px;
			@include rounded-border();
			position: absolute;
			left: -6px;
			top: -6px;
			-webkit-animation: dotAnimation 1s infinite alternate;
			animation: dotAnimation 1s infinite alternate;
		}
	}

	.middle-col .dot-1 {
		left: 48px;
		top: 65px;

		@include media-query(1199px) {
			left: 35px;
		}
	}

	.middle-col .dot-2 {
		right: 48px;
		top: 65px;

		@include media-query(1199px) {
			right: 35px;
		}
	}

	.middle-col .dot-3 {
		left: 15px;
		bottom: 125px;

		@include media-query(1199px) {
			left: 0;
		}
	}

	.middle-col .dot-4 {
		right: 15px;
		bottom: 125px;

		@include media-query(1199px) {
			right: 0;
		}
	}

	.left-col {
		@include widther(992px) {
			padding-right: 45px;
		}

		@include widther(1200px) {
			padding-right: 55px;
		}
	}

	.right-col {
		@include widther(992px) {
			padding-left: 45px;
		}

		@include widther(1200px) {
			padding-left: 45px;
		}
	}	

	.box {
		padding: 0 0 125px 90px;
		position: relative;

		@include media-query(1199px) {
			padding: 0 0 45px 70px;
		}

		@include media-query(767px) {
			padding: 0 0 30px 65px;
		}

		.icon {
			width: 60px;
			position: absolute;
			left: 0;
			top: 0;

			@include media-query(1199px) {
				width: 50px;
			}

			@include media-query(991px) {
				width: 40px;
			}
		}
	}

	.left-col .box:last-child,
	.right-col .box:last-child {
		@include widther(992px) {
			padding-bottom: 0;
		}
	}

	.right-col .box:last-child {
		@include media-query(991px) {
			padding-bottom: 0;
		}
	}

	.box .work-details h3 {
		font-size: 18px;
		font-size: calc-rem-value(18);
		margin: 0 0 0.7em;

		@include media-query(991px) {
			font-size: 16px;
			font-size: calc-rem-value(16);
		}
	}

	.box .work-details p {
		font-size: 15px;
		font-size: calc-rem-value(15);
		margin: 0;

		@include media-query(1199px) {
			font-size: 14px;
			font-size: calc-rem-value(14);
		}
	}

	@-webkit-keyframes dotAnimation {
		from {
			-webkit-transform: scale(0.5, 0.5);
			transform: scale(0.5, 0.5);
		}

		to {
			-webkit-transform: scale(1,1);
			transform: scale(1,1);
		}
	}

	@keyframes dotAnimation {
		from {
			-webkit-transform: scale(0.5, 0.5);
			transform: scale(0.5, 0.5);
		}

		to {
			-webkit-transform: scale(1,1);
			transform: scale(1,1);
		}
	}
}


/*--------------------------------------------------------------
#1.2	app-screenshot
--------------------------------------------------------------*/
.app-screenshot {
	background-color: #f0f1ff;
	padding-bottom: 180px;

	@include media-query(767px) {
		padding-bottom: 100px;
	}

	.app-screenshot-slider-outer {
		width: 265px;
		height: 490px;
		margin: 65px auto 0;
		position: relative;

		@include media-query(767px) {
			margin-top: 0;
		}

		.mockup {
			@include media-query(767px) {
				display: none;
			}
		}

		.mockup .top {
			@include background-style("../images/app-landing/screenshot-slider/iphone-top-part.png", center center, cover, no-repeat, local);
			width: 317px;
			height: 76px;
			position: absolute;
			left: 50%;
			top: -76px;
			@include translatingX();
		}

		.mockup .left {
			@include background-style("../images/app-landing/screenshot-slider/iphone-left-part.png", center center, cover, no-repeat, local);
			width: 19px;
			height: 570px;
			position: absolute;
			left: -25px;
			bottom: -80px;
			z-index: 20;
		}

		.mockup .right {
			@include background-style("../images/app-landing/screenshot-slider/iphone-right-part.png", center center, cover, no-repeat, local);
			width: 18px;
			height: 570px;
			position: absolute;
			right: -27px;
			bottom: -80px;
			z-index: 20;
		}

		.mockup .bottom {
			@include background-style("../images/app-landing/screenshot-slider/iphone-bottom-part.png", center center, cover, no-repeat, local);
			width: 280px;
			height: 76px;
			position: absolute;
			left: -6px;
			bottom: -87px;
			z-index: 20;
		}
	}

	.app-screenshot-slider img {
		width: auto;
	}

	.owl-carousel .owl-stage-outer {
		overflow: visible !important;

		@include media-query(767px) {
			overflow: hidden !important;
		}
	}

	.owl-stage-outer .owl-item img {
		opacity: 0.5;
	}

	.owl-stage-outer .active img {
		opacity: 1;
	}

	.owl-controls .owl-nav .owl-prev,
	.owl-controls .owl-nav .owl-next {
		background-color: transparentize($theme-secondary-color, 0.2);
		border-radius: 0;
		@include transition-time(0.3s);

		&:hover {
			background-color: $theme-secondary-color;
		}
	}
}


/*--------------------------------------------------------------
#1.3	app-tem-members
--------------------------------------------------------------*/
.app-tem-members {

	.team-section-title {
		margin-bottom: 10px;
	}

	.app-team-grids > .col {
		@include media-query(767px) {
			margin-bottom: 30px;
		}

		@include media-query(550px) {
			width: 100%;
			img {
				width: 100%;
			}
		}
	}

	.app-team-grids > .col:last-child {
		margin-bottom: 0;
	}

	.skill-row {
		margin-top: 100px;

		@include media-query(1199px) {
			margin-top: 60px;
		}
	}

	.skill-row .section-title {
		text-align: left;
		margin-bottom: 0;
	}

	.skill-row .section-title h2:after {
		left: 0;
		@include notransform();
	}
}


/*--------------------------------------------------------------
#1.4	app-landing-pricing
--------------------------------------------------------------*/
.app-landing-pricing {
	background-color: $section-bg-color;
	padding-bottom: 70px;

	@include media-query(767px) {
		padding-bottom: 65px;
	}

	.pricing-tab {
		position: relative;
	}

	.app-pricing-grids {
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
		visibility: hidden;
		opacity: 0;
		@include transition-time(0.5s);
		margin-left: 0;
	}

	.active-grids {
		position: relative;
		visibility: visible;
		opacity: 1;
		@include transition-time(0.5s);
	}

	.switcher-wrapper {
		text-align: center;
		position: relative;
		margin-bottom: 60px;

		@include media-query(991px) {
			margin-bottom: 40px;
		}

		.tablist span {
			font-size: 18px;
			font-size: calc-rem-value(18);

			@include media-query(991px) {
				font-size: 16px;
				font-size: calc-rem-value(16);
			}
		}

		.tablist .active {
			color: $black;
		}

		.tablist span:first-child {
			margin-right: 110px;

			@include media-query(991px) {
				margin-right: 90px;
			}
		}
	}

	.switch {
		width: 60px;
		height: 30px;
		position: absolute;
		left: 50%;
		top: 0;
		@include translatingX();

		@include media-query(991px) {
			height: 26px;
		}
	}

	.slider {
		background-color: $theme-primary-color;
		@include linear-gradient-bg(left, $theme-primary-color, $theme-secondary-color);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		@include transition-time(0.4s);
		border-radius: 34px;
		cursor: pointer;
	}

	.slider:before {
		background-color: $white;
		position: absolute;
		content: "";
		width: 26px;
		height: 26px;
		left: 2px;
		bottom: 2px;
		border-radius: 50%;
		@include transition-time(0.4s);

		@include media-query(991px) {
			width: 22px;
			height: 22px;
		}
	}

	.slide-off {
		//background-color: #ccc;

		&:before {
			@include translatingX(28px);

			@include media-query(991px) {
				@include translatingX(34px);
			}
		}
	}
}


/*--------------------------------------------------------------
#1.5	app-landing-testimonials
--------------------------------------------------------------*/
.app-landing-testimonials {

	.app-landing-testimonials-slider {
		text-align: center;
		margin-top: -15px;

		img {
			width: auto;
			display: inline-block;
		}
	}

	.client-quote {
		font-size: 14px;
		font-size: calc-rem-value(14);
		border: 1px solid $theme-primary-color;
		padding: 30px 30px 55px;
		position: relative;

		&:before {
			font-family: "FontAwesome";
			content: "\f10d";
			font-size: 25px;
			font-size: calc-rem-value(25);
			color: $theme-primary-color;
			position: absolute;
			left: 19px;
			top: -15px;
		}
	}

	.client-info {
		margin-top: -45px;

		img {
			background-color: $white;
			padding: 8px;
			border: 2px solid $theme-primary-color;
			@include rounded-border();

			@include media-query(767px) {
				max-width: 80px;
				padding: 5px;
			}
		}

		h5 {
			font-size: 16px;
			font-size: calc-rem-value(16);
			color: $black;
			margin: 0 0 5px;
		}

		h5 + span {
			font-size: 14px;
			font-size: calc-rem-value(14);
		}
	}

	.client-info .img-holder {
		margin-bottom: 20px;
	}

	.app-landing-testimonials-slider .owl-stage-outer {
		padding-top: 15px;
	}	

	.app-landing-testimonials-slider .owl-controls {
		margin-top: 40px;

		@include media-query(991px) {
			margin-top: 20px;
		}
	}
}


/*--------------------------------------------------------------
#1.6	app-landing-faq
--------------------------------------------------------------*/
.app-landing-faq {
	position: relative;
	overflow: hidden;

	&:before {
		content: "";
		@include linear-gradient-overlay(left, transparentize($theme-primary-color, 0.1), transparentize($theme-secondary-color, 0.1));
	}

	.content {
		position: relative;
	}

	.section-title h2 {
		color: $white;
		text-align: left;

		@include widther(767px) {
			padding-right: 200px;
		}
	}

	.section-title h2:after {
		background: $white;
		left: 0;
		@include notransform();
	}

	.app-faq-tab {
		@include background-style("../images/app-landing/faq-tab.png", center center, cover, no-repeat, local);
		width: 500px;
		height: 530px;
		position: absolute;
		right: 0;
		bottom: -200px;
		@include transition-time(5s);

		@include media-query(1199px) {
			width: 400px;
			height: 424px;
		}

		@include media-query(991px) {
			display: none;
		}		
	}

	.app-faq-tab-animation {
		bottom: -110px;
	}
}


/*--------------------------------------------------------------
#1.7	app-social-media-section
--------------------------------------------------------------*/
.app-social-media-section {
	text-align: center;
	padding-bottom: 0;

	.social-links {
		display: inline-block;
	}

	.social-links li a {
		width: 62px;
		height: 62px;
		line-height: 62px;
		font-size: 30px;
		font-size: calc-rem-value(30);
		color: #c0c0c0;
		display: block;
		@include rounded-border();

		@include media-query(991px) {
			width: 50px;
			height: 50px;
			line-height: 50px;
			font-size: 22px;
			font-size: calc-rem-value(22);
		}

		@include media-query(767px) {
			width: 45px;
			height: 45px;
			line-height: 45px;
			font-size: 18px;
			font-size: calc-rem-value(18);
		}
	}

	.social-links li {
		margin-right: 5px;
	}

	.social-links li:last-child {
		margin-right: 0;
	}

	.social-links li a:hover,
	.social-links li:first-child a {
		background-color: $theme-primary-color;
		@include linear-gradient-bg(left, $theme-primary-color, $theme-secondary-color);
		color: $white;
	}
}


/*--------------------------------------------------------------
#1.8	app-contact-section
--------------------------------------------------------------*/
.app-contact-section {
	margin: 100px 0;
	position: relative;

	@include media-query(767px) {
		margin: 0;
	}

	&:before {
		content: "";
		width: 100%;
		height: 420px;
		@include background-style("../images/map.jpg", center center, cover, no-repeat, local);
		position: absolute;
		left: 0;
		top: 50%;
		@include translatingY();
	}
}

.app-contact-section .contact-block {
	background-color: $white;
	padding: 70px;
	overflow: hidden;
	position: relative;
	@include transition-time(0.5s);
	@include round-box-shadow(lighten($black, 90%), 20px, 0);
	border-radius: 10px;

	@include media-query(767px) {
		padding: 40px 15px;
		box-shadow: none;
	}

	.privacy {
		font-size: 12px;
		font-size: calc-rem-value(12);
		text-align: center;
		margin: 0;

		a {
			color: blue;
			text-decoration: underline;
		}
	}


	@include media-query(991px) {
		padding: 40px 45px;
	}

	@include media-query(767px) {
		padding: 40px 15px;
	}

	h2 {
		font-size: 34px;
		font-size: calc-rem-value(34);
		line-height: 1.3em;
		margin: 0 0 0.9em;

		@include widther(1200px) {
			padding: 0 200px 0 0;
		}

		@include media-query(991px) {
			font-size: calc-rem-value(25);
		}

		@include media-query(767px) {
			font-size: calc-rem-value(20);
		}
	}

	.contact-info,
	.contact-form {
		width: 50%;
		float: left;

		@include media-query(767px) {
			width: 100%;
			float: none;
		}
	}

	.contact-info {
		padding-right: 80px;

		@include media-query(991px) {
			padding-right: 0;
		}

		p {
			color: lighten($black, 40%);
		}

		ul {
			margin-top: 30px;
		}

		ul li {
			color: lighten($black, 55%);
			line-height: 1.7em;
			position: relative;	
			padding-left: 55px;
			margin-bottom: 20px;
		}

		li .icon {
			width: 35px;
			height: 35px;
			line-height: 35px;
			text-align: center;
			position: absolute;
			left: 0;		
		}

		li .fi {
			position: relative;
		}

		li .fi:before {
			font-size: calc-rem-value(26);
			color: $theme-secondary-color;
		}
	}

	.contact-form {
		padding-left: 80px;

		@include media-query(991px) {
			padding-left: 30px;
		}

		@include media-query(767px) {
			padding-left: 0;
			margin-top: 50px;
		}

		input,
		select,
		textarea {
			background-color: #eef1f5;
			height: 45px;
			border: 0;
			box-shadow: none;
			padding-left: 20px;

			@include media-query(991px) {
				height: 40px;
			}
		}

		textarea {
			height: 110px;
			padding-top: 15px;
		}

		.form {
			@include placeholder-style(lighten($black, 55%), 16px, normal);
		}

		.form > div {
			margin-bottom: 20px;

			@include media-query(991px) {
				margin-bottom: 10px;
			}
		}

		select {
			font-style: normal;
			background-position: 97% center;
			color: lighten($black, 55%);
		}

		.form .submit-btn {
			margin-bottom: 0;
		}

		.submit-btn .app-btn-s1 {
			border: 0;
			height: 45px;
			line-height: 45px;
			padding: 0 45px;
			border: 0;
			outline: 0;
			box-shadow: none;
			position: relative;
			overflow: hidden;
			z-index: 10;

			&:before {
				content: "";
				background-color: $theme-primary-color;
				@include linear-gradient-bg(left, $theme-secondary-color, $theme-primary-color);
				width: 100%;
				height: 100%;
				@include rounded-border(25);
				position: absolute;
				left: 0;
				top: 0;
				z-index: -1;
				opacity: 0;
				@include transition-time(0.2s);
			}

			@include media-query(1199px) {
				height: 40px;
				line-height: 40px;
				padding: 0 35px;
			}
		}

		.submit-btn .app-btn-s1:hover {
			background-color: $theme-primary-color;
			@include linear-gradient-bg(left, $theme-primary-color, $theme-secondary-color);
			color: $white;
		}

		.submit-btn .app-btn-s1:hover:before {
			opacity: 1;
		}

		.submit-btn .app-btn-s1:focus {
			outline: none;
		}
	}

	.view-map {
		margin-top: 20px;
	}

	.view-map img {
		display: inline-block;
		padding-right: 10px;
	}

	.view-map a {
		color: $theme-primary-color;
		font-size: 15px;
		font-size: calc-rem-value(15);

		@include media-query(767px) {
			font-size: 14px;
			font-size: calc-rem-value(14);
		}
	}

	.view-map a:hover,
	.view-map a:focus {
		outline: none;
	}
}

