	/*
  	Flaticon icon font: Flaticon
  	Creation date: 29/05/2017 06:16
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-menu:before { content: "\f100"; }
.flaticon-envelope:before { content: "\f101"; }
.flaticon-mail:before { content: "\f102"; }
.flaticon-technology-2:before { content: "\f103"; }
.flaticon-technology-1:before { content: "\f104"; }
.flaticon-technology:before { content: "\f105"; }
.flaticon-web:before { content: "\f106"; }