div.count-down {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.8;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/montserrat/Montserrat-ExtraLight.woff") format("woff"),
  url("fonts/montserrat/Montserrat-ExtraLight.woff2") format("woff2"),
  url("fonts/montserrat/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/montserrat/Montserrat-Medium.woff") format("woff"),
  url("fonts/montserrat/Montserrat-Medium.woff2") format("woff2"),
  url("fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/montserrat/Montserrat-Bold.woff") format("woff"),
  url("fonts/montserrat/Montserrat-Bold.woff2") format("woff2"),
  url("fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* ----------------------------------
   Bootstrap Fix: IE10
   in Windows 8 & Windows Phone 8
   ---------------------------------- */

@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}


/* ----------------------------------
   Font Colors
   ---------------------------------- */

.text-color {
  color: #00ACC1;
}

.text-white {
  color: #fff;
}

.text-light {
  color: #aaa;
}

.text-grey {
  color: #444;
}



/* _____________________________________

   08. Backgrounds
   _____________________________________ */

.section-overlay {
  top: 0;
  height: 100%;
  min-height: 700px;
  width: 100%;
  z-index: -100;
}

.page-image-min {
  background-size: cover;
  height: 100%;
  width: 100%;
  min-height: 700px;
}


/* _____________________________________

   11. Count Down
   _____________________________________ */

.count-down h1 {
  line-height: 1;
}

.count-down p {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.35;
  color: #fff !important;
}

.count-down > div > div {
  display: inline-block;
  padding: 0 30px;
}

.count-down > .cd-row {
  display: inline-block;
}

@media only screen and (max-width: 767px) {

  /* ----------------------------------
     Count Down
  ---------------------------------- */
  .count-down > div > div {
    display: inline-block;
    padding: 20px;
  }

  .count-down h1 {
    font-size: 47px;
  }

  .modal.modal-scale.fade {
    margin: 15px;
  }

  .modal.modal-scale.fade .modal-dialog {
    width: 100%;
  }

  .modal-content {
    padding: 50px 15px;
  }
}

@media only screen and (min-width: 991px) {

  header {
    display: block;
  }

  .page-info {
    padding-top: 60px;
  }

  .col-transform {
    transition: all 0.6s ease-in-out;
  }

  .page-content {
    position: absolute;
    visibility: hidden;
    right: -50%;
    transition: all 0.6s ease-in-out;
  }

  .show-content .page-content {
    position: absolute;
    right: 0;
    visibility: visible;
  }

  .page-amplitude-wrapper {
    
  }

  .count-down {
    margin-left: -30px;
    margin-right: -30px;
  }
}
